.main {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: calc(100vh - 70px); */
  background-color: #f4f6f8;
  height: 82vh;
}

.card {
  background-color: white;
  padding: 30px 25px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card h2 {
  text-align: center;
  color: #2c3e50;
}

.inputField,
.textArea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 16px;
}

.textArea {
  resize: vertical;
  min-height: 80px;
}

.saveBtn {
  background-color: #2ecc71;
  color: white;
  border: none;
  padding: 10px 0;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.saveBtn:hover {
  background-color: #27ae60;
}

.saveBtn:disabled {
  background-color: #95a5a6;
  cursor: not-allowed;
}
/* Loader overlay */
.loaderOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #e5e7eb;
  border-top: 5px solid #2563eb; /* blue accent */
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
