.footer {
  width: 97.8%;
  background-color: #2d2d2d; /* dark gray */
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  height: 4vh;
  /* margin-top: 400px;  */
  /* margin-bottom: 0%; */
}

.footer p {
  margin: 0;
}

.footer .links {
  display: flex;
  gap: 15px;
}

.footer .links a {
  color: #f1c40f; /* accent color */
  text-decoration: none;
}

.footer .links a:hover {
  text-decoration: underline;
}
